---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section>
    <h2>Articles</h2>
    <p><a href="/articles/my-first-article">Read My First Article</a></p>
  </section>
</BaseLayout>
