---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section>
    <p>
      <p>
        </br>
        Hi, welcome to to my website.
        </br>
        </br>
        Find me at <a href="mailto:jayneelap@gmail.com"><b>jayneelap@gmail.com</b></a>.
        </br>

        </br>
        The source code for this site is available on my <a href="https://github.com/jayneel-p/jaywalkin" target="_blank"><b>GitHub</b></a>.
        </br>
      </p>
    </p>
    
  </section>
</BaseLayout>
