---
import BaseLayout from '../layouts/TestLayout.astro';
---
<BaseLayout>
  <section>
    <p>
      <p>
        </br>
        Hi, welcome to jaywalking!
        </br>

      </br>
      This is my personal website where I share some of my interests and
      projects. These articles are mostly for my own reference, 
      but I hope that you find some use of them too. This website also serves as a 
      personal blog where I can stay connected to my family and close friends.
      </br>

      </br>
      I have a background in Physics and Applied Mathematics, but I have an
      interest in: data science, finance, music,... hence the nature of this
      blog is slightly eclectic. 
      </br>
      
      </br>
      I would love to hear your feedback. You can reach me at 
      <b> jayneelap@gmail.com. </b> 
     </br>
      
      </br>
      The source code for this website 
      is available on my <a href=" https://github.com/jayneel-p/jaywalkin" target="_blank">GitHub</a>.
      </br>


      </p>
    </p>
    
  </section>
</BaseLayout>
