---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section>
    <p>I am a Physics (uCalgary) and Applied Math (uSask) student. The purpose of this
      site is to showcase my projects and interests. This blog is written informally and 
      meant only for fun, and should not be taken too seriously.
    </p>
    <p>
      I am interested in a variety of topics, including:
      <ul style="padding-left:100px">
        <li>Physics</li>
        <li>Mathematics</li>
        <li>Data Science</li>
        <li>Music</li>
        <li>Sports</li>
      </ul>
    </p>
    <p>
      Hence the nature of this blog is quite eclectic. The writing on technical topics is written 
      at the level I am comfortable with, and is not meant to be a comprehensive guide; it is mostly 
      written as a reference for myself. 
    </p>
    <p>
      If there are any concerns, or you are curious about anything I have written about, you
      can find me at jayneelap@gmail.com
    </p>
  </section>
</BaseLayout>
