---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section>
    <p>
      <p>
        </br>
        Hi, welcome to jaywalkin'
        </br>

      </br>
      This is a blog where I show case my interests and hopefully share some of
      what I have learned. For the technical articles, some background knowledge will be assumed of the reader,
      though I will be sure to list my references in the articles.
      </br>

      </br>
      I have a background in Physics and Applied Mathematics, but I have an
      interest in: data science, finance, music,... hence the nature of this
      blog is slightly eclectic. 
      </br>
      
      </br>
      I would love to hear your feedback. You can reach me at 
      jayneelap@gmail.com
      </br>


      </p>
    </p>
    
  </section>
</BaseLayout>
