
<nav class="navbar">
    <ul>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/interests">Interests</a></li>
      <li><a href="https://github.com/jayneel-p">GitHub</a></li>
      <li><a href="https://linkedin.com/in/jayneelaparikh">LinkedIn</a></li>
    </ul>
  </nav>

