---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section>
    <p>
      <a href="/interests/records"><b>My Record Collection</b></a> - Check out my vinyl! Fetched using Discogs API.
    </p>
  </section>
</BaseLayout>