---
import BaseLayout from '../../layouts/TestLayout.astro';
---
<BaseLayout>
  <p class="text-center text-2xl font-bold mt-8">
    this page is under construction
  </p>
</BaseLayout>
<!--
  This is a placeholder for the interests page. You can add content here later.
  For now, it just includes the BaseLayout component -->