---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section>
    <h1>My Interests</h1>
    <p>
      <a href="/interests/records"><b>My Record Collection</b></a> - Check out my vinyl with ratings and notes
    </p>
    <p class="text-center text-2xl font-bold mt-8">
      this page is under construction
    </p>
  </section>
</BaseLayout>