---
import "../styles/globals.css";
import Navbar from "../components/Navbar.astro";  // Import the Navbar component
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jaywalkin</title>
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="title-wrapper">
          <h1 class="site-title">jaywalkin</h1>
        </div>
        <Navbar /> <!-- This is where the Navbar component will render the navigation links -->
      </div>
      <h2 class="subheader">who even reads blogs anymore?</h2>
    </header>
    <main>
      <slot /> <!-- This is for nested content from pages or components -->
    </main>
  </body>
</html>
