---
import "../styles/globals.css";
import Navbar from "../components/Navbar.astro";  // Import the Navbar component
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jaywalkin'</title>
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="title-wrapper">
          <a href="/" class="site-title">jaywalkin'</a> <!-- Wrap title in a link -->
        </div>
        <Navbar />
      </div>
      <h2 class="subheader">Would it save you a lot of time if I just gave up and went mad now?</h2>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
