---
import "../styles/globals.css";
import Navbar from "../components/Navbar.astro";  // Import the Navbar component
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jaywalkin'</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js"
        onload="renderMathInElement(document.body, { delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}] })"></script>
  </head>
  <body>
    <header class="header">
      <div class="header-top">
        <div class="title-wrapper">
          <a href="/" class="site-title">jaywalkin'</a> <!-- Wrap title in a link -->
        </div>
        <Navbar />
      </div>
      <h2 class="subheader">put some pithy quote here</h2>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
